*{
  margin: 0;
  padding: 0;
}
@viewport{
	zoom: 1.0;
	width : extend-to-zoom;
}
@-ms-viewport{
	width: extend-to-zoom;
	zoom: 1.0;
}
body{
  font-family: sans-serif;
}

#nav-bar{
  position: stiky;
  top : 0;
  z-index : 10;
}
.navbar{
  background-image: linear-gradient(to right ,#4C87F9 ,#5f1782);
  padding: 0 !important;
}

.navbar-brand img{
  height: 40px;
  padding-left: 20px;
}
.navbar-nav li
{
  padding: 0 10px;
}
.navbar-nav li a
{
  color: #fff !important;
  font-weight: 600; 
  float:right;
  text-align: left;

}

navbar-brand{
  height: 40px;
  padding-left: 0px;
}


.fa-bars{
  color: #fff;
  font-size: 30px !important; 
}
.navbar-toggler{
  outline: none !important;

}
/*------------------------------------banner------------------------*/
.banner{
  background-image: linear-gradient(to right ,#4C87F9 ,#5f1782);
  color: #fff;
  padding-top: 5%;
}

.promo-title{
  font-size: 30px;
  font-weight: 600; 
  margin-top: 100px;

}
.play-btn{
  width: 45px;
  margin:20px;
}

.banner a{
  color: #fff;
  text-decoration: none;
}

.mac{
  

  width: 500px;
}

.face{
  width: 100px;
}

.row {
  display: flex;
}

.column {
  flex: 30%;
  padding: 10px;
}

/*-------------------------------service--------------------*/
.service{
  padding: 80px 0px;
}
.service-image{
  width: 250px;
  margin-top: 100px;

}
h5{
  padding: 10px;
  margin-top: 25px;
  text-transform: uppercase;
}

.title::before{

  content: '';
  background-color: #4C87F9;
  height: 5px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(63px);

}


.title::after{

  content: '';
  background-color: #4C87F9;
  height: 10px;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  display: block;
  transform: translateY(8px);
}

.btn-primary{
  box-shadow: none;
  padding: 8px 25px;
  border: none;
  border-radius: 20px ;

  background-image: linear-gradient(to right ,#4C87F9 ,#5f1782);
}
/*----------------------about us---------*/
#about-us{
  background-color: #D5DCE9 ;
  padding-bottom: 50px;
  padding-top: 50px;
}

.about-title{
  font-weight: 600;
  font-size: 40px;
  margin-top: 8%;
}
#about-us ul li{
  margin: 10px 0px;
}

#about-us ul {
  margin-left: 20px;
}
/*------------------testimonials----------------------------*/

#testimonials{
  margin-top: 120px;
}

.testimonials{
  border-left: 4px solid #7b1798;
  margin-top: 80px;
  margin-bottom: 50px;


}
.testimonials img{
  height:60px;
  width: 60px;
  border-radius: 50px;
  margin: 0px 10px;
  padding-bottom: 10px;

}

.user-details{
  display: inline-block;
  font-size: 12px;
}

.pd{
  padding:30px;
}


#social-media{
  background-color: #D5DBE7  ;
  padding: 100px 0px;
  margin-top: 100px;
}

#social-media p{

font-size: 36px;
font-weight: 600;
margin-bottom: 30px;
}

.social-icons img{
  width: 60px;
  transition: 0.5s;
}

.social-icons a:hover img{
  transform: translateY(-10px);

}

/*----------------------------footer-----------*/
#footer{
  background-image: linear-gradient(to right ,#4C87F9 ,#5f1782);
  color: white;

}
.footer-box{
  padding: 20px;
}

.footer-box img{
  margin-bottom: 20px;
  width: 120px;
}

.footer-box p {
 font-weight: 600;
}

.footer-box .form-control
{
  box-shadow: none !important;
  border: none;
  border-radius: 0;
  margin-top: 25px;
  max-width: 250px;
}
.footer-box .btn-primary
{
  box-shadow: none !important;
  border: none;
  border-radius: 0;
  margin-top: 30px;
  background-image: linear-gradient(to right ,#4C87F9 ,#5f1782);
}

hr{
  background-color: #fff;
}

.copyright
{
  margin-bottom: 0;
  padding-bottom: 20px;
  text-align: center;
}
.dist{
  margin-top: 100px;
}

